<html lang="en">
<head>
    <title>To-Do lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/base.css" rel="stylesheet" media="screen">
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href="/">Supelists</a>

        {% if user.email %}
            <ul class="nav navbar-nav">
                <li><a href="{% url 'my_lists' user.email %}">My lists</a></li>
            </ul>
            <a class="btn navbar-btn navbar-right" id="id_logout" href="{% url 'logout' %}">Logout</a>
            <a class="navbar-text navbar-right" id="id_logout" href="#">Logged as: {{ user.email }}</a>
        {% else %}
            <a class="btn navbar-btn navbar-right" id="id_login" href="#">Sign in</a>
        {% endif %}

    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 jumbotron">
                <div class="text-center">
                    <h1>{% block header_text %} {% endblock %}</h1>

                    {% block list_form %}
                    <form method="POST" action="{% block form_action %} {% endblock %}">
                        {{ form.text }}
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="form-group has-error">
                                <div class="help-block">{{ form.text.errors }}</div>
                            </div>
                        {% endif %}
                    </form>
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% block table %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% block extra_content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="/static/accounts.js"></script>
    <script src="/static/list.js"></script>
    <script>
        $(document).ready(function () {
            var user = "{{ user.email }}" || null;
            var token = "{{ csrf_token }}";
            var urls = {
                login: "{% url 'persona_login' %}",
                logout: "TODO"
            };
            Superlists.Accounts.initialize(navigator, user, token, urls);
        });
    </script>
</body>
</html>