{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
    <table id="id_list_table" class="table">
        {% for item in list.item_set.all %}
            <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}

{% block extra_content %}
    <form action="/lists/{{ list.id }}/share/" method="post">
        {% csrf_token %}
        <input name="email" placeholder="your-friend@example.com">
    </form>

    {% if list.owner.email == user.email %}
        <ul>
            Shared with:
        {% for shared_user in list.shared_with.all %}
            <li class="list-shared">{{ shared_user.email }}</li>
        {% empty %}
            This list not shared for users yet
        {% endfor %}
        </ul>
    {% endif %}


    {% if list.owner.email != user.email %}
        <h1>List's owner: <span id="id_list_owner">{{ list.owner.email }}</span></h1>
    {% endif %}
{% endblock %}